body{
    width: 100%;
    position: absolute;
    background-color: linear-gradient( #000, #FFFFFF);   
    margin: 0%;
}

div{
    width: 100%;
}

.what_number{
    text-align: center;
    color: #DB6300;
}

.hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 255px;
}

.user_entry{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    
}

.button_user{
    background-color: #DB6300;
    color: #fff;
    margin: 15px;
}

input[type=text]:focus {
    color: #DB6300;
    border: 2px solid #DB6300;
  }

